body {
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    display: flex;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}
section {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container {
    width: 60rem;
    height: 22rem;
    
    
    margin: 0 auto;
    position: relative;
    display: flex;
    
}
.content {
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2.5rem;
    font-size: 1.7rem;


}
.content h1 {
    line-height: 2rem;
    font-weight: 700;
}
.content p {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;

}
.background {
    width: 38rem;
    height: 22rem;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.background_img {
    width: 28rem;
    height: 22rem;
    background-image: url('../../images/drawers.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}
.profile {
    display: flex;
    position: relative;
    padding-top: 2rem;
    padding-left: 0.5rem;
}
.profile div {
    padding-left: 1rem;
}
.profile h2 {
    font-size: 1rem;
    font-weight: 700;
}
.profile span {
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
}
.profile_img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.profile_share {
    cursor: pointer;
    position: absolute;
    bottom:10%;
    right: 1%;
    padding-left: 0;
}
.profile_share {
    padding: 0.5rem;
    border-radius: 100%;
    background-color: hsl(210, 46%, 95%);
}
.profile_share:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.share_card {
    display: flex;
    opacity: 0%;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    bottom: 32%;
    right: -5%;
    border-radius: 0.5rem;
    transition: opacity 0.5s;
}
.hover {
    background-color:hsl(217, 19%, 35%);
}
.active {
    opacity: 100%;
    transition: opacity 1s;
}
.hover svg path {
    fill: #fff;
}

.share_card h1 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: hsl(212, 23%, 69%);
}
.share_card svg {
    margin-left: 0.7rem;
}
.share_card svg path {
    fill: hsl(212, 23%, 69%);
    cursor: pointer;
}
.share_card svg:hover path {
    fill: #fff;
}


.cross {
    width: 1rem;
    height: 1rem;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    top: 83%;
    right: 45%;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
}
@media (max-width: 1025px) {
    .content {
        padding: 1rem;
    }
    .profile {
        padding-top: 1rem;
    }
    .profile_share {
        right: 2%;
    }
    .share_card {
        bottom: 28%;
        right: -9%;
    }
}
@media (max-width: 850px) {
    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 26rem;
        height: 39rem;
        display: block;
    }

    .background {
        width: 100%;
        height: 18rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }
    .content {
        padding: 2rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .content h1 {
        font-size: 1.4rem;
    }
    .content p {
        font-size: 1rem;
    }
    .profile_share {
        right: 2%;
    }
    .share_card {
        bottom: 15%;
        right: -13%;
    }
}
@media (max-width: 550px) {
    .container {
        min-width: 26rem;
        min-height: 41rem;
        margin: 2rem;
    }
    .profile {
        padding-top: 2rem;
    }
}